/* Aqui inicia los estilos para el header en versiones desktop */

.header__li{
    margin: 0 0 0 60px;
}

/* Aqui inicia los estilos para el footer en versiones desktop */



/* Here start main style */ 

.coverPage{
    width: 70%;
    height: 450px;
    margin-top: 20px;
}

.info{
    width: 60%;
}

.coverPage__h1{
    font-size: 3rem;
    line-height: 45px;
    width: 60%;
}

.coverPage__h2{
    width: 60%;
    margin-top: 20px;
}

.tutorial__h2{
    font-size: 4rem;
}

.tutorial__p{
    font-size: 2rem;
}

.tutorial__li{
    font-size: 1.8rem;
}

.info__subtitle--size{
    font-size: 2.8rem;
}

/* Here start aboutMe page */

.Aboutme__figure{
    margin-bottom: 50px;
}
.Aboutme__section{
    padding: 0 11vh
}

.Aboutme__p{
   
    font-size: 2rem;
    line-height: 30px;
}

.card{
    transition: transform 500ms;
    min-width: 400px;
}

.card:hover{
    transform: scale(1.1);
    transition: transform 500ms;
}

.post{
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}