*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}
:root{
    --prymari-color: #15171A;
    --description-color: #738A94;
    --text-color: #FFFFFF;
    --principal-text-color: #434952;
    --description-perfil-color: #90A2AA;
    --border-color: #E6E9ED;
    --content-color: #303a3e;
}

.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: var(--prymari-color);
}
.header__nav{
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__section{
    display: flex;
    align-items: center;
}
.header__logo{
    width: 60px;
    height: 60px;
    background-image: url("https://i.postimg.cc/xTsSmq48/perfil-6000x6000.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.header__name{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 10px;

}
.header__i{
    width: 60px;
    height: 60px;
    filter: invert(1);
    cursor: pointer;
}
.header__img{
    max-width: 100%;
    height: 40px;
}
.header__ul{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 0vh;
    top: 80px;
    right: 0;
    background-color: var(--prymari-color);
    text-align: center;
    transition: all.5;
}
.header__li{
    display: none;
    transition: all -5%;
    margin: 10px 0;
}
.header__a:hover{
    border-bottom: 1px solid var(--description-color);
}
.header__a{
    color: var(--text-color);
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 400;
}
#check{
    display: none;
}
#check:checked ~ .header__ul{
    height: 170px;
}
#check:checked ~ .header__ul li{
    display: block;
} 

/* Here start the index main */
.main{
    display: grid;
    place-items: center;
}
.container{
    width: 90%;
    height: auto;
    display: grid;
    margin-top: 20px;
}
.profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 20px;
    padding-bottom: 20px;

}
.profile__image{
    width: 204px;
    height: 253px;
    object-fit: cover;
}
.profile__h1{
    font-size: 2.6rem;
    font-weight: 500;
    margin-top: 10px;
    color: var(--prymari-color);
    text-align: center;
}
.profile__aboutme{
    color: var(--description-color);
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
}

.card{
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
}
.card--borderTop{
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}
.card__title{
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--prymari-color);
}
.card__container{
    display: flex;
    flex-direction: column;
}
.card__image,.card__display{
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.card__div{
    display: flex;
    flex-direction: column;
}
.card__image--post{
    background-image: url("https://images.pexels.com/photos/3244604/pexels-photo-3244604.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.card__image--project{
    background-image: url("https://i.postimg.cc/37nwQdwR/Nasa-website.png");
}
.card__subtitle{
    color: var(--prymari-color);
    font-size: 2.0rem;
    font-weight: 500;
    margin-top: 20px;
}
.card__information{
    color:var(--description-color);
    font-size: 1.6rem;
    line-height: 28px;
    font-weight: 300;
    margin-top: 10px;
}
.button{
   width: 120px;
   height: 40px;
   border: none;
   border-radius: 8px;
   background-color: var(--border-color);
   border: 1px solid var(--description-color);
   margin-top: 10px;
   
}
.button__a{
    font-size: 1.8rem;
    color: var(--prymari-color);
}
.display{
    width: 100%;
    height: auto;
    display: grid;
}
.card__image--alcoholismo{
    background-image: url("https://cdn.pixabay.com/photo/2014/08/26/20/08/man-428392_960_720.jpg");
}
.card__image--pasado{
    background-image: url("https://cdn.pixabay.com/photo/2016/09/29/09/59/clock-1702512_960_720.jpg");
}

/* Here start the tutorial code */

.gratitude__title{
    font-size: 2.4rem;
    font-weight: 500;
    text-align: center;
    color: var(--prymari-color);
    margin: 20px 0;
}
.gratitude__info{
    color: var(--description-perfil-color);
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: 300;
    text-align: center;
}

.projects{
    padding-top: 20px;
    border-top: 1px solid var(--description-perfil-color);
    margin-top: 20px;
}
.projects__h2{
    font-size: 2.2rem;
    color: var(--prymari-color);
    font-weight: 400;
    text-align: center;
}
.card--border{
    border: none;
    padding: 0;
}

.card__image--nasaWebsite{
    background-image: url("https://i.postimg.cc/bvWgq99g/Nasa-website-1.png");
}
.card__image--legoWebsite{
    background-image: url("https://i.postimg.cc/T36Y4KL4/Lego-website-1.png");
}
.card__image--nftCard{
    background-image: url("https://i.postimg.cc/bNQqkqCH/nftcard-1.png");
}
.card__image--resumenDeCompra{
    background-image: url("https://i.postimg.cc/9M6jwkyn/resumen-de-compra-1.png");
}




/* Here start the tutorial page */

.card__image--liveSErver{
    background-image: url("https://i.postimg.cc/T2D4mzSG/la-copia.jpg");
}
.card__image--ubuntu{
    background-image: url("https://i.postimg.cc/2jM0S08J/ubuntu.jpg");
}

/* Here start the frustración blog */

.main__container{
    width: 100%;
    display: grid;
    justify-items: center;
}
.coverPage{
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.coverPage--frustracion{
    background-image: url("https://images.pexels.com/photos/3244604/pexels-photo-3244604.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.coverPage__h2{
    color: var(--text-color);
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 36px;
    text-align: center;
}
.info__subtitle{
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 35px;
    color: var(--prymari-color);
    border-bottom: 1px solid var(--border-color);
    margin-top: 50px;
}
.info__h4{
    font-size: 2rem;
    font-weight: 700;
    color: var(--prymari-color);
    margin-top: 20px;
}
.info{
    margin-top: 30px;
    width: 90%;
}
.info--width{
    width: 100%;
}
.info__p{
    font-size: 2rem;
    font-weight: 400;
    line-height: 32px;
    color: var(--description-color);
    margin-top: 20px;
}
.info__img{
    width: 100%;
    height: 585px;
    margin-top: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.info__img--1{
    background-image: url("https://images.pexels.com/photos/897817/pexels-photo-897817.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.info__img--2{
    background-image: url("https://static.platzi.com/media/user_upload/5%20claves%20que%20me%20ayudaron%20a%20superar%20la%20frustracion-401c7f9e-2115-40bd-baa2-a82a02637fb0.jpg");
}
.info__img--3{
    background-image: url("https://static.platzi.com/media/user_upload/nuevo%20enfoque%20fuera%20frustracion-05ab8737-c341-4b88-b368-a1aef0b583e8.jpg");
}
.info__ul{
    padding-left: 20px;
}
.info__li{
    list-style: disc;
    font-size: 2rem;
    font-weight: 400;
    line-height: 32px;
    color: var(--content-color);
    margin-top: 20px;
}

/* Here start the style for alcoholismo blog */

.coverPage--alcoholismo{
    background-image: url("https://cdn.pixabay.com/photo/2014/08/26/20/08/man-428392_960_720.jpg");
}

.info__img--alcoholismo1{
    background-image: url("https://cdn.pixabay.com/photo/2015/01/28/09/50/death-614644_960_720.jpg");
}

.info__img--alcoholismo2{
    background-image: url("https://cdn.pixabay.com/photo/2020/07/18/18/28/sunset-5417966_960_720.jpg");
}

/* Here start the style for la maquina del tiempo blog */

.coverPage__h2--color{
    color: var(--prymari-color);
}
.coverPage--laMaquinaDelTiempo{
    background-image: url("https://cdn.pixabay.com/photo/2016/09/29/09/59/clock-1702512_960_720.jpg");
}


/* Here start the style for live server tutorial */

.tutorial__h2{
    font-size: 2.2rem;
    color: var(--prymari-color);
}
.tutorial__p{
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: var(--description-color);
    margin-top: 20px;
}
.tutorial__ol{
    padding-left: 20px;
    margin-top: 20px;
}
.tutorial__li{
    list-style: decimal-leading-zero;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: var(--description-color);
}
.tutorial__div{
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tutorial__div--liveServer1{
    background-image: url("https://i.postimg.cc/YqHKqDLS/3-LI.jpg");
}
.tutorial__div--liveServer2{
    background-image: url("https://i.postimg.cc/nL6SSMvL/3.png");
}
.tutorial__div--liveServer3{
    background-image: url("https://i.postimg.cc/85zc3PDq/1-2.png");
}.tutorial__div--liveServer4{
    background-image: url("https://i.postimg.cc/YqHKqDLS/3-LI.jpg");
}

/* Here start the ubutu tutorial */

.tutorial__div--liveServer1{
    background-image: url("https://i.ibb.co/Z2jkMWv/comando.png");
    margin-bottom: 20px;
}
.tutorial__div--liveServer2{
    background-image: url("https://i.ibb.co/F5m9JNW/Carpeta.png");
}

/* Here start the footer code */

.footer{
    width: 100%;
    height: 160px;
    background-color: var(--prymari-color);
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer__container{
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.footer__socialMedias{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.footer__gratitude{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: white;
    margin-top: 10px;
}
.footer__socialMedia{
    display: flex;
    align-items: center;
}
.footer__icon{
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.footer__icon--github{
    background-image: url("https://img.icons8.com/ios/344/github--v1.png");
    filter: invert(1);
}
.footer__icon--gmail{
    background-image: url("https://img.icons8.com/color/344/gmail-new.png");
}
.footer__name{
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
}

@media screen and (min-width:410px){
    .footer__container{
        flex-direction: row;
    }
    .footer__socialMedias{
     flex-direction: column;
     margin-right: 10px;
    }
}

