*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}

:root{
    --prymari-color: #15171A;
    --description-color: #738A94;
    --text-color: #FFFFFF;
    --principal-text-color: #434952;
    --description-perfil-color: #90A2AA;
    --border-color: #E6E9ED;
    --content-color: #303a3e;

}

.header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: var(--prymari-color);
}

.header__nav{
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__section{
    display: flex;
    align-items: center;
}

.header__logo{
    width: 40px;
    height: 40px;
}

.picture__image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.header__name{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 10px;

}

.header__hamburguer{
    width: 40px;
    height: 40px;
    filter: invert(1);
    cursor: pointer;
    background-image: url("https://cdn.icon-icons.com/icons2/1875/PNG/512/hamburgermenu_120234.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__ul{
    display: none;
}

.header__a:hover{
    border-bottom: 1px solid var(--description-color);
}

.header__a{
    color: var(--text-color);
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 400;
}

.innactive{
    display: none;
}

.mobileMenu{
    width: 30%;
    height: 140px;
    position: absolute;
    top: 81px;
    right: 0;
    background-color: var(--prymari-color);
    text-align: center;
    z-index: 100;
}

.mobilMenu__ul{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}

.mobilMenu__li{
    margin: 10px 0;
}

.mobilMenu__a:hover{
    border-bottom: 1px solid var(--description-color);
}

.mobilMenu__a{
    color: var(--text-color);
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 400;
}

/* Here start the index main */

.main{
    padding: 0 5vw;
}

.wrapper{
  max-width: 1040px;
  margin: 0 auto;
  width: 100%;
}

.post{
    display: grid;
    padding: 50px 0 0;
}

/* Here start the card style */ 

.card{
    box-shadow: 8px 14px 38px rgb(39 44 49 / 6%), 1px 3px 8px rgb(39 44 49 / 3%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 0 40px;
    padding: 0 20px 40px;
    min-height: 220px;
    border-bottom: 1px solid  var(--border-color);
    background-size: cover;
    position: relative;
}

.card__a{
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 5px;
}

.card__img{
   width: 100%;
   height: 200px; 
   object-fit: cover;
   background: no-repeat 50%;
}

.card__info{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.card__infoContent{
    position: relative;
    display: block;
}

.card__h2{
    margin: 15px 0 0;
    font-size: 1.9rem;
    color: var(--prymari-color);
    font-weight: 500;
    line-height: 2.85rem;
}

.card__description{
    font-size: 1.6rem;
    max-width: 56em;
    color: var(--prymari-color);
    font-weight: 300;
    margin-top: 15px;
}

.card__p{
    margin-bottom: 1em;
    margin: 0 0 1.5em;
    line-height: 2.4rem;
}

.card__author{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card__authorAvatar{
    width: 36px;
    height: 36px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://i.ibb.co/N34xb91/Avatar.jpg");
    border-radius: 50%;
}

.card__authorInfo{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.card__authorName{
    color: var(--principal-text-color);
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 600;
}

.card__authorData{
    color: var(--description-perfil-color);
    font-size: 1.2rem;
    font-weight: 400;
}

/* Here end card style */ 

.card__image--alcoholismo{
    background-image: url("https://cdn.pixabay.com/photo/2014/08/26/20/08/man-428392_960_720.jpg");
}
.card__image--pasado{
    background-image: url("https://cdn.pixabay.com/photo/2016/09/29/09/59/clock-1702512_960_720.jpg");
}
.card__image--elAhora{
    background-image: url("https://cdn.pixabay.com/photo/2017/08/07/10/22/buildings-2602324_960_720.jpg");
}

/* Here start aboutme page */

.Aboutme{
    margin-top: 40px;
    padding: 0 5vw 4vw 5vw;
    background-color: var(--text-color);
}

.AboutmeContainer{
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
}

.Aboutme__h1{
    font-size: 4rem;
    line-height: 60px;
    font-weight: 500;
}

.Aboutme__figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 25px 0 50px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.Aboutme__img{
    max-width: 1040px;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.Aboutme__section{
    min-height: 230px;
    line-height: 1.6em;
    padding: 0;
    display: flex;
    justify-content: center;
}

.Aboutme__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
}

.Aboutme__p{
    margin-bottom: 1.28em;
    font-size: 1.8rem;
    line-height: 27px;
}


/* Here start the frustración blog */

.main__container{
    width: 100%;
    display: grid;
    justify-items: center;
}

.coverPage{
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.coverPage--frustracion{
    background-image: url("https://images.pexels.com/photos/3244604/pexels-photo-3244604.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.coverPage__h1{

    color: var(--prymari-color);
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 38px;
    text-align: center;
    margin-top: 20px;
}

.coverPage__h1{
    width: 90%;
}

.info{
    width: 90%;
}

.info__subtitle{
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 35px;
    color: var(--prymari-color);
    border-bottom: 1px solid var(--border-color);
    margin-top: 50px;
}

.info__h4{
    font-size: 2rem;
    font-weight: 700;
    color: var(--prymari-color);
    margin-top: 20px;
}

.info__p{
    font-size: 2rem;
    font-weight: 400;
    line-height: 32px;
    color: var(--prymari-color);
    margin-top: 20px;
}

.info__img{
    width: 100%;
    height: 350px;
    margin-top: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.info__img--1{
    background-image: url("https://images.pexels.com/photos/897817/pexels-photo-897817.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.info__img--2{
    background-image: url("https://static.platzi.com/media/user_upload/5%20claves%20que%20me%20ayudaron%20a%20superar%20la%20frustracion-401c7f9e-2115-40bd-baa2-a82a02637fb0.jpg");
}

.info__img--3{
    background-image: url("https://static.platzi.com/media/user_upload/nuevo%20enfoque%20fuera%20frustracion-05ab8737-c341-4b88-b368-a1aef0b583e8.jpg");
}

.info__ul{
    padding-left: 20px;
}

.info__li{
    list-style: disc;
    font-size: 2rem;
    font-weight: 400;
    line-height: 32px;
    color: var(--prymari-color);
    margin-top: 20px;
}

/* Here start the style for alcoholismo blog */

.coverPage--alcoholismo{
    background-image: url("https://cdn.pixabay.com/photo/2014/08/26/20/08/man-428392_960_720.jpg");
}

.info__img--alcoholismo1{
    background-image: url("https://cdn.pixabay.com/photo/2015/01/28/09/50/death-614644_960_720.jpg");
}

.info__img--alcoholismo2{
    background-image: url("https://cdn.pixabay.com/photo/2020/07/18/18/28/sunset-5417966_960_720.jpg");
}

/* Here start the style for la maquina del tiempo blog */


.coverPage--laMaquinaDelTiempo{
    background-image: url("https://cdn.pixabay.com/photo/2016/09/29/09/59/clock-1702512_960_720.jpg");
}

/* Here start the style for el poder del ahora */

.coverPage--elPoderDelAhora{
    background-image: url("https://cdn.pixabay.com/photo/2017/08/07/10/22/buildings-2602324_960_720.jpg");
}

/* Here start the style for Platzi */ 

.coverPage--platzi{
    background-image: url("https://img.freepik.com/foto-gratis/silueta-trabajo-equipo-ayudando-confianza-mano-ayuda-exito-montanas-excursionistas-celebran-manos-alto-ayudense-otros-cima-montana-paisaje-puesta-sol_1150-61310.jpg?w=900&t=st=1662578961~exp=1662579561~hmac=81749b921a11ec86943cfa152835e6609e86abcea9a8475ce66606948ba097be");
}

.info__img--platzi1{
    background-image: url("https://img.freepik.com/foto-gratis/imagen-primer-plano-programador-trabajando-su-escritorio-oficina_1098-18707.jpg?w=900&t=st=1662579048~exp=1662579648~hmac=e013896616dc6c113b4e2883e393787c84311a061dd6bfb345e8a3ca0301fe40");
}

.info__img--platzi2{
    background-image: url("https://img.freepik.com/foto-gratis/imagen-objetos-ingenieria-punto-vista-top-construction-trabajo-herramientas-ingenieria-vintage-efecto-filtro-retro-tono-enfoque-suave-enfoque-selectivo_1418-470.jpg?w=900&t=st=1662579332~exp=1662579932~hmac=217184b92e1e163b1d89698fe390599754464269b067ca6374ced9dad1623b7b");
}

.info__img--platzi3{
    background-image: url("https://img.freepik.com/foto-gratis/amigos-multietnicos-alegres-que-toman-selfie-grupal-divertido_1262-21109.jpg?w=900&t=st=1662579419~exp=1662580019~hmac=db3226dfb5e0c793ad149d374b4839bd55324f566e60dc904ea00aabaab1a7b1");
}

/*Here start tutodial */
.main__tutorial{
    display: flex;
    justify-content: center;
}

.tutorial{
    margin: 30px 0 0 0;
    width: 100%;
    padding: 0 20px;
    max-width: 1040px;
}

/* Here start the style for live server tutorial */

.tutorial__h2{
    font-size: 2.2rem;
    color: var(--prymari-color);
}

.tutorial__p{
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: var(--prymari-color);
    margin-top: 20px;
}

.tutorial__ol{
    margin-top: 20px;
}

.tutorial__li{
    list-style: none;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: var(--prymari-color);
}

.tutorial__div{
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tutorial__div--liveServer1{
    background-image: url("https://i.postimg.cc/YqHKqDLS/3-LI.jpg");
}

.tutorial__div--liveServer2{
    background-image: url("https://i.postimg.cc/nL6SSMvL/3.png");
}

.tutorial__div--liveServer3{
    background-image: url("https://i.postimg.cc/85zc3PDq/1-2.png");
}

.tutorial__div--liveServer4{
    background-image: url("https://i.postimg.cc/YqHKqDLS/3-LI.jpg");
}

/* Here start the ubutu tutorial */

.tutorial__div--liveServer1{
    background-image: url("https://i.ibb.co/Z2jkMWv/comando.png");
    margin-bottom: 20px;
}

.tutorial__div--liveServer2{
    background-image: url("https://i.ibb.co/F5m9JNW/Carpeta.png");
}

/* Here start the footer code */

.footer{
    width: 100%;
    height: auto;
    background-color: var(--prymari-color);
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.footer__container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.3rem;
}

.footer__socialMedias{
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer__gratitude{
    font-size: 100%;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: white;
    margin-top: 20px;
}

.footer__socialMedia{
    display: flex;
    align-items: center;
}

.footer__a{
    color: var(--text-color);
    font-size: 100%;
    font-weight: 400;
    line-height: 26px;
    margin-left: 20px;
}


@media screen and (min-width:650px){
    .footer__socialMedias{
        width: 80%;
    }
} 

@media screen and (min-width: 500px){
    .Aboutme__section{
        padding: 0 5vw;
    }
    .Aboutme__figure{
        margin-bottom: 30px;
    }
    .Aboutme__p{
        margin-bottom: 1.5em;
    }
}

@media screen and (max-width: 1170px){
    .post__article{
        margin-bottom: 5vw;
    }
}

@media screen and (min-width: 630px){
    .post{
        grid-template-rows: repeat(3, auto);
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
    .lastCard{
        grid-row: 3 / 4;
        grid-column: 1 / 3;
    }
}

@media screen and (min-width: 800px){
    .firtsCard{
        flex-direction: row;
        padding-bottom: 40px;
        min-height: 280px;
        border-top: 0;
        
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    
    }

    .lastCard{
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

    .firtsCard__a{
        order: 1;
        width: 50%;
        min-height: 380px;
        margin-bottom: 0;
        position: relative;
    }

    .firtsCard__secondContainer{
        order: 2;
        width: 50%;
        justify-content: center;
        padding-left: 3rem;
    }

    .firtsCard__img{
        width: 100%;
        height: 100%;
    }
}

