.header__label{
    display: none;
}

.header__ul{
    display: flex;
    flex-direction: row;
}

.header__li{
    margin: 0 0 0 40px;
}

.header__name{
    font-size: 1.4rem;
}

.header__hamburguer{
    display: none;
}

.mobileMenu{
    display: none;
}

/* Here start the Aboutme Page */

.Aboutme__h1{
    font-size: 5rem;
    line-height: 75px;
    font-weight: 600;
    text-align: center;
}

/* Aqui inician los estilos del footer para tablet */

.footer{
 padding:  20px 20px 60px 20px;
}

.footer__container{
    flex-direction: row;
}

.footer__socialMedias{
    justify-content: start;
}

.footer__gratitude{

    margin-top: 0px;
}

/* Here start the index main */


.tutorial__h2{
    text-align: center;
}

.tutorial__li{
    margin: 20px 0;
}

.info__img{
    height: 540px;
}

.info{
    width: 80%;
}

/* .wrapper{
    width: 100%;
} */

.Card{
    min-width: 400px;
}