.header__label{
    display: none;
}
.header__ul{
    display: flex;
    flex-direction: row;
}
.header__li{
    margin: 0 0 0 40px;
}
.header__a, .header__name{
    font-size: 1.4rem;
}
.mobileMenu{
    display: none;
}
.picture{
   display: none;
}

/* Aqui inician los estilos del footer para tablet */
.footer__container{
    width: 80%;
}
.footer__gratitude{
    font-size: 1.4rem;
    line-height: 2.6rem;
    margin: 0 0 0 30px;
}
/* Here start the index main */

.container{
    width: 100%;
    height: auto;
    display: grid;
    margin-top: 20px;
    place-items: center;
}
.profile__image{
    width: 300px;
    height: 353px;
}
.profile__h1{
    font-size: 3rem;
    line-height: 4.5rem;
}
.card, .profile,.technologys{
    width: 90%;
}

.card__container{
    flex-direction: row;
}
.card__image{
    width: 50%;
    border-radius: 12px 0 0 12px;
}
.card__div{
    width: 50%;
    margin-left: 20px;
    justify-content: center;
}
.card--width{
    width: 80%;
}
.card__border{
    border: none;
}
.card--direction{
    flex-direction: row;
}
.display{
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}
.card__display{
    height: 250px;
}
.tutorial{
    width: 80%;
}
.tutorial__h2{
    text-align: center;
}
.tutorial__li{
    margin: 20px 0;
}
.info__img{
  
    height: 540px;

}